<!DOCTYPE html>
<html>
<head>
	<title>Calendario</title>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<href rel='stylesheet' href='fullcalendar.css'>
	<script src='jquery.min.js'></script>
	<script src='moment.js'></script>
	<script src='fullcalendar.js'></script>
	<script>
		$(document).ready(function() {
			// page is now ready, initialize the calendar...
			$('#calendar').fullCalendar({
				// put your options and callbacks here
			})
		});

	</script>
</head>
<body bgcolor="#0061bf">

	<nav>
		<div class="nav-wrapper blue">
			<a href="#" class="brand-logo">Calendar</a>

			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="/postear/">Postear</a></li>
				<li><a href="/register/">Registrar</a></li>
				<li><a href="/login/">Logear</a></li>
				<li><a href="/borrar/">Borrar post</a></li>
			</ul>
		</div>
	</nav>

	<div id='calendar'></div>

</body>
</html>