<!DOCTYPE html>
<html>
<head>

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</head>
<body bgcolor="#0061bf">
	<nav>
		<div class="nav-wrapper blue">
			<a href="#" class="brand-logo">Twitter</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="http://127.0.0.1:8000">Ver posts</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="row">
		<div class="col s12 m16">
			<div class="card blue">
				<div class="card-content white-text">
					<span class="card-title">Subir archivo:</span>
					<hr>
					<div>
						<!--<p class="flow-text">a</p>-->
						<div class="row">
							<div class="input-field col s12">
								<input placeholder=" " id="archv" class="validate" type="text">
								<label for="arch" class="active bl">Archivo:</label>
							</div>
						</div>
					</div>
				</div>
				<div class="card-action">
					<a class="waves-effect waves-light btn grey" onclick="func()">Presioname ( ͡° ͜ʖ ͡°)</a>
				</div>
			</div>
		</div>
	</div>

</body>
<script type="text/javascript">
function func() {
	alert("dat english boooooooooi");}

</script>
</html>