<!DOCTYPE html>
<html>
<head>

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</head>
<body bgcolor="#0061bf">
	<nav>
		<div class="nav-wrapper blue">
			<a href="#" class="brand-logo">Twitter</a>

			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="">Postear</a></li>
				<li><a href="http://127.0.0.1:8000/login/">logear</a></li>|
				<li><a href="collapsible.html">JavaScript</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="row">
		<form action="{% url 'registrar' %}" method="POST" class="col s12">
			<div class="row">

				<div class="input-field col s6">
					<input placeholder=" " id="usuer" name="user1" class="validate" type="text">
					<label for="usuer" class="active">Usuario</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input placeholder=" " id="passw" name="pass1" class="validate" type="password">
					<label for="passw" class="active">Contraseña</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input placeholder=" " id="mailx" name="mail1" class="validate" type="text">
					<label for="mailx" class="active">E-Mail</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input placeholder=" " id="nombre1" name="nombre1" class="validate" type="text">
					<label for="nombre1" class="active">Nombre</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input placeholder=" " id="Apellido1" name="apellido1" class="validate" type="text">
					<label for="Apellido1" class="active">Apellido</label>
				</div>
			</div>
			{% csrf_token %}


			<input class="waves-effect waves-light btn" type="submit" value="Registrarse">
		</form>
	</div>
</body>


</script>

</html>