<!DOCTYPE html>
<html>
<head>

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

</head>
<body bgcolor="#0061bf">
	<nav>
		<div class="nav-wrapper blue">
			<a href="#" class="brand-logo">Twitter</a>

			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="">Postear</a></li>
				<li><a href="badges.html">Components</a></li>|
				<li><a href="collapsible.html">JavaScript</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="row">
		<form class="col s12">
			<div class="row">
				<div class="input-field col s6">
					<input placeholder=" " id="usuer" class="validate" type="text">
					<label for="usuer" class="active">Usuario</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input placeholder=" " id="passw" class="validate" type="password">
					<label for="passw" class="active">Contraseña</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s6">
					<input placeholder=" " id="mailx" class="validate" type="text">
					<label for="mailx" class="active">E-Mail</label>
				</div>
			</div>
			<a class="waves-effect waves-light btn">Registrarse</a>
		</form>
	</div>
</body>

<script type="text/JavaScript">
	function guardar_usuario() {
			
	}



</script>

</html>